<main>
  <mat-card class="form-card">
    <p class="login-name">Login</p>
    <form action="" class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="email-input">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. admin@admin.com">
        @if(loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')){
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if(loginForm.get('email')?.hasError('required')){
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="password-input">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="password">
        @if(loginForm.get('password')?.hasError('required')){
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <p class="">Não tem conta ainda?
          <a routerLink="/register" class="register-link">Crie sua conta aqui</a>
      </p>
      <button mat-raised-button type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </mat-card>

</main>
